body {
  background-color: white;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
}

.pin {
  margin: 9%;
  text-align: center;
}

img {
  z-index: -100;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

h2 {
  color: #006699;
  font-family: zekton;
  font-weight: bold;
  text-align: center;
}

button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  width: 90px;
  height: 40px;
  cursor: pointer;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
}

.message {
  margin: 9%;
  text-align: center;
}

.ATMOptions{
  margin: 9%;
  text-align: center;
}

.balancediv {
  margin: 9%;
  text-align: center;
}

.withdrawdiv {
  margin: 9%;
  text-align: center;
}

.depositdiv {
  margin: 9%;
  text-align: center;
}

.pigMessage {
  width: 20%;
  position: fixed;
  bottom: 20px;
  float: right;
  z-index: 10;
  padding-left: 45%;
  color: black;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  top: 80%;
  color: #CC9900;
}